{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
	<div id="contents">
		<div class="highlight">
			<div class="clearfix">
				<h1>Administrator Center</h1>
				<p>
                    From the Administrator menu, you can:
                    <ul>
                        <li>Invite new administrators to register</li>
                        <li>Invite new employers to register</li>
                        <li>Suspend administrators</li>
                        <li>Suspend employers</li>
                    </ul>
				</p>
				<p>
                    Hover over the Administator menu item above, and select the action desired 
                    from the sub-menu that appears.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
