{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
	<div id="contents">
		<div class="highlight">
			<div class="clearfix">
				<h1>Employee Center</h1>
				<p>
                    From the Employee menu, you can:
                    <ul>
                        <li>For new employees:</li>
                            <ul>
                                <li>View the training page to watch training videos</li>
                                <li>View the qualification page to pass the qualification test</li>
                            </ul>
                        <li>For trained employees:</li>
                            <ul>
                                <li>View the assignment page to map agricultural fields</li>
                                <li>View your assignment history page to see your success rate and send queries to the researchers</li>
                            </ul>
                    </ul>
				</p>
				<p>
                    Hover over the Employee menu item above, and select the action desired 
                    from the sub-menu that appears.
				</p>
			</div>
		</div>
	</div>
{% endblock %}


