{% extends "common/page_base.html" %}

{% block content %}
	<div id="contents">
		<div class="highlight">
			<div class="clearfix">
				<h1>Using Active Learning To Map Agricultural Fields in Africa</h1>
                <h2>Project Vision</h2>
				<p>
                    To create a next-generation, open source, land cover mapping platform that optimally applies
                    human judgement to guide machine learning, and can harness the deluge of data collected by
                    rapidly expanding commercial satellite fleets, as well as the deep archives of legacy missions.
                    We will use our platform to develop the next generation of agricultural maps for Sub-Saharan
                    Africa (a region notoriously difficult to map), guided by the judgement of mappers who live in 
                    the regionSSA. Our maps will not only distinguish agricultural from non-agricultural areas 
                    with unprecedented accuracy, but will go beyond pixel-based
classifications to map individual 
                    fields. This combined human-machine approach will overcome many current obstacles to mapping 
                    complex agricultural landscapes, and will approach the limits of detail and accuracy that can 
                    be achieved with satellite-based mapping.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
