{% extends "common/page_base.html" %}

{% block content %}
	<div id="contents">
		<div class="highlight">
			<div class="clearfix">
				<h1>Improved Maps of Agricultural Fields in Africa</h1>
				<p>
                    This open source platform is designed for labeling images collected by
                    rapidly expanding commercial satellite fleets (e.g. Planet's), in order to 
		    train and validate neural networks that can be used to create annually updated 
                    maps of crop fields, which shift 
                    substantially from year to year. 
				</p>
			</div>
		</div>
	</div>
{% endblock %}
