{% extends "common/page_base.html" %}  {# common/page_base.html extends layout.html #}

{% block content %}
	<div id="contents">
		<!--<div class="highlight">-->
			<div class="clearfix">
				<h1>{{ company_name }} Employee List</h1>
				<ul>
                    {% for user in employee_list %}
                        <li>
                            {{ user[0] }}, {{ user[1] }} ({{ user[2] }})
                        </li>
                    {% endfor %}
				</ul>
			</div>
		<!--</div>-->
	</div>
{% endblock %}
