*/.DS_Store
*/._.DS_Store
pprepair/pprepair
pprepair/*.o
prepair/prepair
prepair/*.o
.Rproj.user
prepair/CMakeFiles/prepair.dir/*.o
mturk/*.pyc
kmls.zip
.Rhistory
.DS_Store
.vscode
spatial/python/planet/catalog/*.tif*
spatial/python/planet/catalog/*/*.tif*
spatial/python/planet/catalog/*/*/*.tif*
spatial/python/planet/*csv
spatial/python/planet/*/*csv
spatial/python/planet/*.ini
spatial/python/planet/*/*.ini
spatial/python/planet/master_grid.tif
spatial/python/planet/terraform/.terraform
common/config.yaml
spatial/notebooks/workers/*
spatial/notebooks/figures/*
spatial/data/test/*
__pycache__

