
module httpd_write_to_home_lsong 1.0;

require {
	type httpd_t;
	type user_home_t;
	type user_home_dir_t;
	class dir { remove_name write };
}

#============= httpd_t ==============
allow httpd_t user_home_dir_t:dir write;
allow httpd_t user_home_t:dir remove_name;
