
module httpd_write_to_home_file_create 1.0;

require {
	type httpd_t;
	type user_home_t;
	class file create;
}

#============= httpd_t ==============
allow httpd_t user_home_t:file create;
