
module httpd_write_assignment_history 1.0;

require {
	type httpd_t;
	type user_home_t;
	class file unlink;
}

#============= httpd_t ==============
allow httpd_t user_home_t:file unlink;
