
module procmail_allow_execution_notrans_python_script 1.0;

require {
	type user_home_t;
	type procmail_t;
	class file execute_no_trans;
}

#============= procmail_t ==============
allow procmail_t user_home_t:file execute_no_trans;
