
module postfix_execute 1.0;

require {
	type httpd_sys_content_t;
	type postfix_local_t;
	class file execute;
}

#============= postfix_local_t ==============
allow postfix_local_t httpd_sys_content_t:file execute;
