
module postfix_access 1.0;

require {
	type httpd_sys_content_t;
	type postfix_local_t;
	class dir search;
}

#============= postfix_local_t ==============
allow postfix_local_t httpd_sys_content_t:dir search;
